* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.divs-container {
	display: flex;
	flex-wrap: wrap;
	width: 316px;
	height: 316px;
	margin-left: auto;
	margin-right: auto;
	border: 8px solid grey;
}
